---
  import Header from './Sections/Header.astro';
  import Body from './Sections/Body.astro';
  import Footer from './Sections/Footer.astro';
---

<div class="mb-5">
  <a href="#" class="block max-w-2xl bg-white rounded-3xl shadow-2xl hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700">
    <Header />
    <Body />
    <Footer />
  </a>
</div>