---
---

    <div class="flex">
            <div class="pl-6">
          <img class="w-full cursor-pointer rounded-3xl" src="https://picsum.photos/640/360" alt="" />
        </div>
        <h5 class="p-6 text-sm font-bold tracking-tight text-gray-900 dark:text-white">
          Simply copy/paste our URL into your source code. Get started below!
        </h5>

</div>