---
  const { noInnerPadding, TopMargin } = Astro.props;
  import Style from '../../data/style.json'
---

<div class:list={[ 'rounded-md bg-white text-[0.8125rem] leading-5 text-slate-900 shadow-xl shadow-black/5 ring-1 ring-slate-700/10', { [Style.Padding] : !noInnerPadding }, { [Style.MarginTop] : TopMargin } ]}>
   <slot/>
</div>