---
  const { isInnerPadding, isBottomMargin } = Astro.props;
---

<!-- <div class="p-4 rounded-lg bg-white text-[0.8125rem] leading-5 text-slate-900 shadow-xl shadow-black/5 ring-1 ring-slate-700/10"> -->
<div class:list={[ 'rounded-md bg-white text-[0.8125rem] leading-5 text-slate-900 shadow-xl shadow-black/5 ring-1 ring-slate-700/10', { 'p-4' : isInnerPadding }, { 'mt-10' : isBottomMargin } ]}>
   <slot/>
</div>