---
---

<div class="flex items-center pb-0">
  <img src="/img/avatar-3.jpg" alt="" class="h-10 w-10 flex-none rounded-full">
  <div class="ml-4 flex-auto">
    <div class="font-medium">Emily Selman</div>
    <div class="mt-1 text-slate-500">Sent you an invite to connect.</div>
  </div>
  <div class="ml-4 flex-none">View</div>
</div>