---
import MainLayout from '../layouts/MainLayout.astro'
import Card from '../components/Cards/Card.astro'
import CardTop from '../components/Cards/CardTop.astro'
import Button from '../components/Buttons/Button.astro'
---

<MainLayout>
 				<div id="side-bar-left" class="border border-sky-500 w-72 h-full block">
					SideBar Left
				</div>
				
				<main class="border border-sky-500 w-full p-5">

          <Card>
            <CardTop />
            <div class="flex gap-3 pt-4">
              <Button>Accept</Button>
            </div>
          </Card>

          <Card TopMargin>
           This is Card 2
          </Card>

          <Card TopMargin>
           This is Card 3
          </Card>

          <Card TopMargin>
           This is Card 4
          </Card>

          <Card TopMargin>
           This is Card 5
          </Card>

   
				</main>

				<div id="side-bar-right" class="border border-sky-500 w-72 h-full block">
					SideBar Right
				</div>
</MainLayout>
