---
import Header from '../components/headers/TopHeader/TopHeader.astro'
import Articles from '../components/cards/PostsCards/Cards/Articles.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
    
		<Header />

		<div class="flex h-full">
				
				<div id="side-bar-left" class="border border-sky-500 w-72 h-full block">
					SideBar Left
				</div>
				
				<main class="border border-sky-500 w-full p-5">
					<Articles />
					<Articles />
					<Articles />
					<Articles />
					<Articles />
				</main>

				<div id="side-bar-right" class="border border-sky-500 w-72 h-full block">
					SideBar Right
				</div>

		</div>
	
	</body>
</html>
