---
import Header from '../components/headers/Header.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
    <Header />
		<div class="container mx-5 mt-5">
    	<slot />
		</div>
	</body>
</html>